{% extends "layout.html" %}

{% block main %}

<div class="container-fluid py-5 text-center">
    <script>
        function enable(){
            let type = document.querySelector("#select").selectedIndex

            if (type == "teacher"){
                var new_select = document.createElement("input");
                const element = document.querySelector("#aditional");
                element.appendChild(new_select);
                new_select.setAtribute("class" , "form-control mx-auto w-auto")
                new_select.setAtribute("name" , "subject")
                new_select.setAtribute("placeholder" , "what subject are you teaching")
                new_select.setAtribute("type" , "text")
            }
            else if (type == "student"){

            }
            else {

            }
        };
    </script>

    <form method="post">
        <div class="mb3">
            <input class="form-control mx-auto w-auto" name="name" placeholder="name" type="text"></input>
        </div>
        <div class="mb3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="password" type="password"></input>
        </div>
        <div class="mb3">
            <input class="form-control mx-auto w-auto" name="password2" placeholder="password repeat" type="password"></input>
        </div>
        <div id="select" class="mb3">
            <select id="type_select" class="form-select mx-auto w-auto" name="type" onchange="enable()">
                <option disabled selected> who are you? </option>
                <option>teacher</option>
                <option>student</option>
            </select>
        </div>

        <div id="aditional" class="mb3"></div>

        <button type="submit" class="btn btn-primary">register</button>
    </form>
</div>

{% endblock %}

