{% extends "layout.html" %}

{% block main %}

<div class="container-fluid py-5 text-center">
    <form action="/register" method="post">
        <div class="mb3">
            <input class="form-control mx-auto w-auto" name="name" placeholder="name" type="text"></input>
        </div>
        <div class="mb3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="password" type="password"></input>
        </div>
        <div class="mb3">
            <input></input>
        </div>
        <button type="submit" class="btn btn-primary">register</button>
    </form>
</div>

{% endblock %}

