body {
    margin: 10px;
  }

.container-form {
    margin-left: 360px;
    margin-right: 360px;
    text-align: center;
}

.container-auction{
    width: 100%;
    border: black 2px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 10px;
    margin-left: 10px;
}
