.title {
    background-color: #aaaadd;
    color: #ffffff;
    text-align: center;
    font-size: 260%;
    padding: 10px;
    height: 100px;
    margin: 0;
}

.mainprt{
    margin-top: 30px ;
    margin-left: 60px;
    margin-right: 60px;
}

.addtext{
    font-size:120%;
    margin-top: 40px;
}

a{
    font-size: 150%;
}

h2{
    background-color: #8888dd;
    color: #ffffff;
    text-align: center;
    height: 60px;
    padding: 5px;
    margin: 0;
}

h5{
    background-color: #6666aa;
    color: #dddddd;
    height: 45px;
    text-align: center;
}
