.title {
    background-color: #aaaadd;
    color: #ffffff;
    text-align: center;
    font-size: 260%;
    padding: 10px;
    height: 100px;
    margin: 0;
}

#back{
    margin-top: 20px ;
    margin-left: 70px;
    margin-bottom: 20px;
}

.mainprt{
    margin-top: 30px ;
    margin-left: 80px;
    margin-right: 80px;
}

.addtext{
    font-size:120%;
    margin-top: 40px;
}

footer{
    margin-top:150px;
    margin-left:-80px;
    margin-right:-80px;
    text-align: center;
    background-color: #303030;
    height: 100px;
    color:#ffffff;
}

p{
    margin-left:30px;
    margin-right:30px;
}

a{
    font-size: 150%;
}

h2{
    background-color: #8888dd;
    color: #ffffff;
    text-align: center;
    height: 60px;
    padding: 5px;
    margin: 0;
}

h5{
    background-color: #6666aa;
    color: #dddddd;
    height: 45px;
    text-align: center;
}
