{% extends "encyclopedia/layout.html" %}

{% block title %} edit {{entry_name}} page {% endblock %}

{% block body %}

<h1>Edit a page</h1>

<p>For contents of your entry you should use <a href="https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax">markdown syntax</a>.</p>

<p style="color:red">{{messege}}</p>

<form method="POST">
    {% csrf_token %}
    <br>
    <textarea name="contents">{{edit_content}}</textarea>
    <br>
    <button type="submit">Save</button>
</form>

{% endblock %}
