{% extends "auctions/layout.html" %}

{% block body %}

<h1> Create Listing </h1>

<div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <p style="font-size:120%"><b>{{field.label_tag}}</b></p>
            {{field}}
            <br>
            <br>
        {% endfor %}
        <br>
        <p style="font-size:120%"><b>Starting Bid</b></p>
        <input name="start_bid" type="number">
        <br><br>
        <input type="submit" class="btn btn-primary" value="Create listing">
    </form>
</div>

{% endblock %}
