{% extends "auctions/layout.html" %}

{% block title %}Auctions{% endblock %}

{% block body %}
    <h2>Active Listings</h2>

    <div class="container-auction">
        {% for auction in auctions %}
            <form class="row" enctype="multipart/form-data">
                <div><img src="{{auction.auction_data.image.url}}"></div>
                <div class="auction-short-description">
                    <h5>{{auction.bid_data.product}}</h5>
                </div>
            </form>
        {% empty %}
            <h5>No listings are active right now</h5>
        {% endfor %}
    </div>

{% endblock %}
