{% extends "auctions/layout.html" %}

{% block title %}Auctions{% endblock %}

{% block body %}
    <h2>Active Listings</h2>

    <div class="container-auction">
        {% for auction in auctions %}
            <form class="row" enctype="multipart/form-data">
                <div><img src="{{auction.image.url}}"><a href="{% url 'listing' auction.id %}"></a></div>
                <div class="auction-short-description">
                    <h4>{{auction.product}}</h4>
                    <p><b>Price: </b>{{auction.price|floatformat:2}}$</p>
                    <br>
                    <p>{{auction.description}}</p>
                    <p style="font-size:90%; color:gray">Created: {{auction.time}}<p>
                </div>
            </form>
        {% empty %}
            <h5>No listings are active right now</h5>
        {% endfor %}
    </div>

{% endblock %}
