{% extends "auctions/layout.html" %}

{% block title %}Auctions{% endblock %}

{% block body %}
    <h2>Active Listings</h2>
    <br>
    {% for auction in auctions %}
        {% if auction.winner %}
        <div class="container-auction">
            <form class="row" enctype="multipart/form-data" action="{% url 'listing' auction.id %}">
                <div style="width:400px;text-align:center">
                    {% if auction.image %}
                    <a href="{% url 'listing' auction.id %}">
                    <img src="{{auction.image.url}}">
                    </a>
                    {% else %}
                    <p>No image</p>
                    {% endif %}
                </div>

                <div class="auction-short-description">

                    <h4>{{auction.product}}</h4>
                    <h4>CLOSED</h4>
                    <br>
                    <p><b>Winner: </b>{{auction.winner}}</p>
                    <input type="submit" class="btn btn-primary" value="Visit this auction">
                    <h4>{{auction.product}}</h4>
                    <p><b>Price: </b>{{auction.price|floatformat:2}}$</p>
                    <br>
                    <p>{{auction.description}}</p>
                    <p style="font-size:90%; color:gray">Created: {{auction.time}}</p>
                    <input type="submit" class="btn btn-primary" value="Visit this auction">

                </div>
            </form>
        </div>
        {% endif %}
        {% empty %}
            <h5>No listings are active right now</h5>
        {% endfor %}


{% endblock %}
