{% extends "auctions/layout.html" %}

{% block title %} {{auction.product}} auction {% endblock %}

{% block body %}

<h2>Listing:{{auction.product}}</h2>

{% if messege %}
<p style="color:red">{{messege}}</p>
{% endif %}

{% if watchlisted %}
<p class="badge bg-secondary" style="color:white">watchlist</p>
{% endif %}

<div class="row">
    <img src="{{auction.image.url}}" width=300px height=300px>

    <div style="padding-top: 70px ; margin-left:30px">
    <p>{{bid_count}} bid(s) so far.</p>
    <form method="POST">
        {% csrf_token %}
        {{form}}
        <input type="hiden" value="{{auction.id}}">
        <input type="submit" class="btn btn-primary" value="Place bid">
    </form>
    </div>
</div>

<h3>Price: {{price|floatformat:2}}$</h3>
<br>
<h4>Details</h4>
<p style="font-size:20px">{{auction.description}}</p>
<ul>
    <li>
        Listed by
        {% for user in watchlist %} {{user.user}} {% endfor %}
    </li>
    <li>
        Category:
        {% if auction.category %} {{auction.category}} {% endif %}
    </li>
</ul>
{% endblock %}
