{% extends "auctions/layout.html" %}

{% block title %} {{auction.product}} auction {% endblock %}

{% block body %}

<h2>Listing:{{auction.product}} {% if winner %} <span style="color:red"> CLOSED! </span> {% endif %}</h2>

{% if messege %}
<p style="color:red">{{messege}}</p>
{% endif %}

{% if watchlisted %}
<p class="badge bg-secondary" style="color:white">watchlist</p>
{% else %}
<form method="POST">
    {% csrf_token %}
    <input type="submit" name="wlist" class="btn btn-primary" value="watchlist">
</form>
<br><br>
{% endif %}

<div class="row">
    {% if auction.image %}
    <img src="{{auction.image.url}}" width=300px height=300px>
    {% else %}
    <p style="width:300px; height:300px"> No Image </p>
    {% endif %}
    <div style="padding-top: 70px ; margin-left:30px">

    {% if winner %}
        <p> Auction is closed </p>
        <br>
        {% if is_winner %}
        <h5>Congatulations, you are the winner of the auction</h5>
        <p> Now you have to pay {{price|floatformat:2}}$</p>
        {% else %}
        <p> Winner of this auction is {{winner}}</p>
        {% endif %}
    {% else %}
    <p>{{bid_count}} bid(s) so far.</p>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="hidden" value="{{auction.id}}">
        <input type="submit" class="btn btn-primary" value="Place bid">
    </form>
    {% endif %}

    </div>
</div>

{% if not winner %}

    <h3>Price: {{price|floatformat:2}}$</h3>
    <br>
    <h4>Details</h4>
    <p style="font-size:20px">{{auction.description}}</p>
    <ul>
        <li>
            {% if not watchlist %}
                Nobody listed it yet.
            {% else %}
            Listed by
            {% for user in watchlist %} {{user.user}}, {% endfor %}
            {% endif %}
        </li>
        <li>
            Category:
            {% if auction.category %} {{auction.category}} {% else %} no category listed {% endif %}
        </li>
    </ul>

    {% if is_host %}
    <form method="POST">
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" name="close" value="Close this auction">
    </form>
    {% endif %}

{% endif %}


<h3>Comments</h3>
<br>

{% for comment in comments %}
<div class="container-comment">
<h5> {{comment.user}}: </h5>
<p> {{comment.contents}} </p>
</div>
<br>
{% empty %}

<p>No comments posted yet</p>

{% endfor %}

<h3>Leave your comment</h3>
<form method="POST">
    {% csrf_token %}
    <textarea rows="5" cols="128" placeholder="Write your comment here" name="contents"></textarea>
    <br>
    <input type="submit" class="btn btn-primary" value="Post a comment" name="comment">
</form>

{% endblock %}
