textarea {
    min-height: 400px;
}

.email-list-element {
    margin-top: 30px;
    padding: 20px;
    border: 2px solid black;
    position:relative;
    display:flex;
}

.email-info-cell {
    margin-right: 15px;
    position: relative;
    float:left;
}
.email-info-time {
    font-size:120%;
    color:gray;
    padding:18px;
    top: 0;
    right:0;
    bottom: 0;
    position: absolute;

}
