{% extends "layout.html" %}

{% block main %}

<div style="margin-left: 80px; margin-right:80px; margin-top: 20px">
    <br>
    <button onclick="click" class="btn btn-info" style="float: left; margin-bottom: 30px" data-bs-toggle="modal" data-bs-target="#Modal">Why are some cells red?</button>

    <table class="table table-bordered table-primary">
        <thead></thead>
          <tr>
            <th>number</th>
            <th scope="col">monday</th>
            <th scope="col">tuesday</th>
            <th scope="col">wednesday</th>
            <th scope="col">thirsday</th>
            <th scope="col">friday</th>
            <th scope="col">saturday</th>
            <th scope="col">sunday</th>
          </tr>
        </thead>
        <tbody>
            {% set i = 1 %}
            {% for time in schedule %}
                <tr>
                    <th scope="row">{{i}}</th>
                    {% for sub in time %}
                        {% if sub in bad_subjects %}
                        <td class="table-danger">{{sub}}</td>
                        {% else %}
                        <td>{{sub}}</td>
                        {% endif %}

                    {% endfor %}
                </tr>
                {% set i = i + 1 %}
            {% endfor %}
        </tbody>
    </table>

    <h3 class="h3">Your current grades</h3>

    <table>
      <thead>
        
      </thead>
      <tbody>

      </tbody>
    </table>

    <div class="modal fade" id="Modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5">Red cells</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>the red cell on a table indecates that you have a grade for this subject below 4 (you should check-out your grades page)</p>
            </div>
          </div>
        </div>
    </div>

</div>

{% endblock %}
