{% extends "layout.html" %}

{% block main %}

<div>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">monday</th>
            <th scope="col">tuesday</th>
            <th scope="col">wednesday</th>
            <th scope="col">thirsday</th>
            <th scope="col">friday</th>
            <th scope="col">saturday</th>
            <th scope="col">sunday</th>
          </tr>
        </thead>
        <tbody>
            {%  %}


          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
        </tbody>
    </table>
</div>

{% endbolck %}
