{% extends "network/layout.html" %}
{% load static %}

{% block title %}Following{% endblock %}

{% block body %}
    <h2>Following</h2>
    {% for post in posts %}
    <div class="post-container" id='post-container-n' data-num="{{post.id}}">
        <a href="{% url 'profile' post.creator.id %}" style="color:black;"><h5>{{post.creator}}</h5></a>
        <div style="white-space:pre-line">{{post.body}}</div>
        <p style="color:gray">{{post.timestamp}}</p>
        <textarea id="comment-text-{{post.id}}"   style="display:none" class="form-control" rows="5" placeholder="Write your comment here"></textarea>
        <span>
            <button id="comment-button-{{post.id}}" class="btn btn-outline-primary">Comment</button>
            &nbsp&nbsp&nbsp
            <button id="cancel-button-{{post.id}}" class="btn btn-outline-primary" style="display:none">Cancel</button>
        </span>
    </div>
    {% endfor %}
{% endblock %}


{% block script %}
    <script scr="{% static 'network/following.js' %}"></script>
{% endblock %}
