{% extends "network/layout.html" %}
{% load static %}

{% block title %}Main page{% endblock %}

{% block body %}
    <h2>All Posts</h2>

    <p id="message"></p>

    <form id="new-post-form" class="post-container" method="POST" action="{% url 'make_post' %}">
        <h4>New post</h4>
        <textarea id="contents" class="form-control" rows="5" placeholder="Your post goes here"></textarea>
        <br>
        <button type="submit" class="btn btn-primary">Post</button>
    </form>
    <div id="posts">
        {% for post_data in posts %}
        <div class="post-container" id='post-container-n' data-num="{{post_data.post.id}}">
            <a href="{% url 'profile' post_data.post.creator.id %}" style="color:black;"><h5>{{post_data.post.creator}}</h5></a>
            <div class="comment-container">
                <div style="white-space:pre-line" >{{post_data.post.body}}</div>
                <p style="color:gray">{{post_data.post.timestamp}}</p>

                {% if post_data.user_like %}
                <button id="like-button-{{post_data.post.id}}" class="badge badge-primary" style="font-size:130%; border: none;">❤️ {{post_data.likes_num}}</button>
                {% else %}
                <button id="like-button-{{post_data.post.id}}" class="badge badge-light" style="font-size:130%; border: none;">❤️ {{post_data.likes_num}}</button>
                {% endif %}
            </div>

            <div style="font-size:120%; margin-top:20px; margin-left:13px">Comments:</div>

            <button id="show-comments-{{post_data.post.id}}" class="btn btn-link" style="margin:0px">Show comments</button>
            <br>
            <div id="comments-{{post_data.post.id}}" style="display:none">
                {% for comment in post_data.comments %}
                <div class="comment-container">
                    <p><b>{{comment.creator}}</b> --- <span style="color:gray">{{comment.timestamp}}</span><p>
                    <p style="white-space:pre-line">{{comment.body}}</p>
                </div>
                {% endfor %}
                <textarea id="comment-text-{{post_data.post.id}}" style="display:none;margin-bottom:20px" class="form-control" rows="5" placeholder="Write your comment here"></textarea>
                <span style="display:flex">
                    <button id="comment-button-{{post_data.post.id}}" class="btn btn-outline-primary">Comment</button>
                    &nbsp&nbsp&nbsp
                    <button id="cancel-button-{{post_data.post.id}}" class="btn btn-outline-primary" style="display:none">Cancel</button>
                </span>
            </div>
        </div>
        {% endfor %}
    </div>
    <hr>
    <p style="text-align:center; font-size:130%">Page {{posts.number}} out of {{posts.paginator.num_pages}}</p>
    <ul class="pagination pagination-lg justify-content-center">
        {% if posts.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{posts.previous_page_number}}">&laquo;</a>
            </li>
        {% endif %}
        
        <li class="page-item">
            <a class="page-link" href="?page={{posts.previous_page_number}}">&laquo;</a>
        </li>

        {% if posts.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{posts.next_page_number}}">&raquo;</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}


{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
    <script src="{% static 'network/comments-likes.js' %}"></script>
{% endblock %}
