{% extends "network/layout.html" %}
{% load static %}

{% block title %}Main page{% endblock %}

{% block body %}
    <h2>All Posts</h2>
    <form id="new-post-form" class="post-container" method="POST" action="{% url 'api_make_post' %}">
        <h4>New post</h4>
        <textarea class="form-control" rows="5" placeholder="Your post goes here"></textarea>
        <button type="submit"></button>
    </form>
    {% for post in posts %}
    <div class="post-container">
        <a href="{% url 'profile' post.creator.id %}" style="color:black;"><h5>{{post.creator}}</h5></a>
        <div style="white-space:pre-line">{{post.body}}</div>
        <p style="color:gray">{{post.timestamp}}</p>
        <button class="btn btn-outline-primary" id="comment-button">Comment</button>
    </div>
    {% endfor %}
{% endblock %}


{% block script %}
    <script scr="{% static 'network/index.js' %}"></script>
{% endblock %}
