{% extends "network/layout.html" %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block body %}
    <div class="profile-container" enctype="multipart/form-data">
        <div class="profile-picture">
            {% if user.image %}
                <img src="{{user.image.url}}" width="300px" height="300px">
            {% else %}
                No Image
            {% endif %}
        </div>
        <div style="margin-left:10px; margin-top:100px">
            <h1>{{user.username}}</h1>
            {% if user.about_me %}
                <p>{{user.about_me}}</p>
            {% else %}
                <p>No Info</p>
            {% endif %}
        </div>
        <div>
            {% for post in posts %}
                <p>{{post.title}}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
