{% extends "network/layout.html" %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block body %}
    <div class="profile-container" enctype="multipart/form-data">
        {% if user.image %}
            <img class="profile-image-box" src="{{user.image.url}}" width="300px" height="300px">
        {% else %}
            <div class="no-profile-picture">No Image</div>
        {% endif %}
        <div style="margin-left:10px; margin-top:100px">
            <h1>{{user.username}}</h1>
            {% if user.about_me %}
                <p>{{user.about_me}}</p>
            {% else %}
                <p>No Info</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
