{% extends "network/layout.html" %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block body %}
    <div class="profile-container" enctype="multipart/form-data">
        {% if see_user.image %}
            <img  src="{{see_user.image.url}}" width="294px" height="294px" class="profile-picture" style="border-radius: 50%">
        {% else %}
            <div class="profile-picture">No Image</div>
        {% endif %}
        <div style="margin-left:10px; margin-top:100px">
            <h1>{{see_user.username}}</h1>
            {% if see_user.about_me %}
                <p>{{see_user.about_me}}</p>
            {% else %}
                <p>No Info</p>
            {% endif %}
        </div>
    </div>
    <br>
        <h2 style="width:70%; margin-left:auto; margin-right:auto">
            {% if user == see_user %}
                My Posts:
            {% else %}
                {{see_user.username}}'s Posts:
            {% endif %}
        </h2>

    {% for post_data in posts %}
    <div class="profile-post-container" id='post-container-n' data-num="{{post_data.post.id}}">

        {% if see_user == user %}

        <button class="btn btn-Link">Edit</button>

        {% endif %}

        <h5>{{post_data.post.creator}}</h5>
        <div style="white-space:pre-line">{{post_data.post.body}}</div>
        <p style="color:gray">{{post_data.post.timestamp}}</p>

        {% if post_data.user_like %}
        <button id="like-button-{{post_data.post.id}}" class="badge badge-primary" style="font-size:130%; border: none;">❤️ {{post_data.likes_num}}</button>
        {% else %}
        <button id="like-button-{{post_data.post.id}}" class="badge badge-light" style="font-size:130%; border: none;">❤️ {{post_data.likes_num}}</button>
        {% endif %}

        <div style="font-size:120%; margin-top:20px; margin-left:13px">Comments:</div>

        <button id="show-comments-{{post_data.post.id}}" class="btn btn-link" style="margin:0px">Show comments</button>
        <br>
        <div id="comments-{{post_data.post.id}}" style="display:none">
            {% for comment in post_data.comments %}
            <div class="comment-container">
                <p><b>{{comment.creator}}</b> --- <span style="color:gray">{{comment.timestamp}}</span><p>
                <p style="white-space:pre-line">{{comment.body}}</p>
            </div>
            {% endfor %}
            <textarea id="comment-text-{{post_data.post.id}}" style="display:none;margin-bottom:20px" class="form-control" rows="5" placeholder="Write your comment here"></textarea>
            <span style="display:flex">
                <button id="comment-button-{{post_data.post.id}}" class="btn btn-outline-primary">Comment</button>
                &nbsp&nbsp&nbsp
                <button id="cancel-button-{{post_data.post.id}}" class="btn btn-outline-primary" style="display:none">Cancel</button>
            </span>
        </div>

    </div>
    {% endfor %}
{% endblock %}

{% block script %}
    <script src="{% static 'network/comments-likes.js' %}"></script>
{% endblock %}
