@keyframes appear-from-aside {
    from {
        margin-left:50px;
        opacity:0
    }
    to {
        margin-left:0px;
        opacity:1
    }
}


.body {
    margin:30px
}

.post-container {
    animation-name: appear-from-aside;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    margin-bottom:10px;
    padding:10px;
    border: solid #aaaaaa 2px;
    border-radius:6px;
}

.profile-container {
    display:flex;
    margin-left: auto;
    margin-right: auto;
    width:70%;
    border: solid #aaaaaa 2px;
    border-radius:6px;
}

.profile-image-box {
    border: solid black 2px;
    border-radius:50%;
    margin-top:10px;
}

.no-profile-picture {
    width: 300px;
    height: 300px;
    line-height: 300px;
    border: solid black 2px;
    border-radius: 50%;
    text-align: center;
    background: #eeeeee;
    margin:10px;
}
